# Загрузим датасет

Здесь мы будем использовать [CMU Book Summary Dataset](http://www.cs.cmu.edu/~dbamman/booksummaries.html).

Загрузим датасет напрямую по ссылке.

In [ ]:
!wget http://www.cs.cmu.edu/~dbamman/data/booksummaries.tar.gz

--2020-12-13 16:51:44--  http://www.cs.cmu.edu/~dbamman/data/booksummaries.tar.gz
Resolving www.cs.cmu.edu (www.cs.cmu.edu)... 128.2.42.95
Connecting to www.cs.cmu.edu (www.cs.cmu.edu)|128.2.42.95|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 16795330 (16M) [application/x-gzip]
Saving to: ‘booksummaries.tar.gz’

booksummaries.tar.g 100%[===================>]  16.02M   923KB/s    in 18s

2020-12-13 16:52:02 (900 KB/s) - ‘booksummaries.tar.gz’ saved [16795330/16795330]

Извлечем данные и посмотрим на них

In [ ]:
import pandas as pd
df = pd.read_csv('/content/booksummaries.tar.gz', sep='\t', names=['wiki_id', 'freebase_id', 'title', 'author', 'date', 'genres', 'summary'])[16:-1]
df.sample(10)

        wiki_id  ...                                            summary
5071    3884501  ...   The novel is set in Britain in 1987, and invo...
11161  14298413  ...   The autobiographical novel can be divided int...
3909    2678701  ...   When the Lovedays' banker is found dead in th...
9266    9764872  ...   The action takes place in an uncertain mildly...
2175    1151016  ...   Flannery Culp is a senior at Roewer High Scho...
4507    3290351  ...   The play chronicles the adult lives of two Af...
15134  26839511  ...   The novel begins in the summer of 1799 at the...
14426  24021398  ...   After Pennsylvania State Trooper and vampire ...
13020  19723244  ...   After having a nightmare about a giant mouse ...
16449  33912418  ...   The story is set in the backdrop of Pathan-Mu...

[10 rows x 7 columns]

Теперь можно поделить датасет на три выборки: обучающую, проверочную и тестовую

In [ ]:
from sklearn.model_selection import train_test_split

train, temp = train_test_split(df, train_size = 0.8, random_state = 1)
test, val = train_test_split(temp, train_size = 0.5, random_state = 1)

Что получилось?

In [ ]:
print(f'Длина обучающей выборки: {len(train)} \nДлина проверочной выборки: {len(val)} \nДлина тестовой выборки: {len(test)}')

Длина обучающей выборки: 13247
Длина проверочной выборки: 1656
Длина тестовой выборки: 1656

Обработаем датасет

In [ ]:
import re 

def dataset(set, path):
    texts = df['summary'].tolist() # получаем список текстов
    data = ''
    f = open(path, 'w')

    for text in texts:
        
        text = str(text).strip() # удаляем лишние пробелы
        text = re.sub(r"\s", " ", text) # заменяем на пробел соответствующее регулярное выражение
        start = '<s> ' # добавляем маркеры для начала и конца предложения
        end = ' </s>'
        data += start + text + end + '\n' # собираем 
        
    f.write(data)
    return data

Соберем три выборки

In [ ]:
train_set = dataset(train, 'train.txt')
val_set = dataset(val, 'val.txt')
test_set = dataset(test, 'test.txt')

Что получилось?

In [ ]:
test_set[:100]

'<s> Old Major, the old boar on the Manor Farm, calls the animals on the farm for a meeting, where he'